<mat-toolbar class="bg-secondary text-white">
    <span class="fill-remaining-space">
        <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" (mouseover)="menuTrigger.openMenu()">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu" [overlapTrigger]="false">
            <span (mouseleave)="menuTrigger.closeMenu()">

                <a routerLinkActive="active" routerLink="/">
                    <button mat-menu-item>
                        <mat-icon>home</mat-icon>Home 
                    </button>
                </a>

                <a routerLinkActive="active" routerLink="/itens">
                    <button mat-menu-item> 
                        <mat-icon>tab_group</mat-icon>Itens
                    </button>
                </a>

                <button mat-menu-item>
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Logout</span>
                </button>
            </span>
        </mat-menu>
    </span>
    <span class="fill-remaining-space">Gerenciador de almoxarifado</span>
</mat-toolbar>
<router-outlet></router-outlet>
<notifier-container></notifier-container>