<div class="jumbotron jumbotron-fluid mt-3">
  <div class="container">
    <h1 class="display-4">Descrição do projeto</h1>
    <ul>
      <li class="lead">Este site foi desenvolvido com Angular, bootstrap e alguns componentes de terceiros
        como ng-select e angular-notifier</li>
      <li class="lead">O backend foi criado com Java e SpringFramework</li>
      <li class="lead">O banco de dados escolhido foi MySql</li>
    </ul>

    <p class="lead">Todos os códigos fontes podem ser encontrados em: </p>

  </div>
</div>